# rom stuff
*.nes
*.deb

# build stuff
*.out
bin/*

tools/formatCanvas
tools/generateMetatiles

# tool oputput
# tools/level.s

# local file system stuff
make.bat
make.sh

# enviornment stuff
.vscode/