# rom stuff
*.nes
*.deb

# build stuff
*.out
bin/*

# TODO remove these from repo
# tools/formatCanvas
# tools/generateMetatiles

# local file system stuff
make.bat
make.sh

# enviornment stuff
.vscode/